<div class="show-page-container">
  <div class="d-flex justify-content-around align-items-center show-page-card">
    <div class="card custom-card shadow">
      <%= cl_image_tag(@rock.photo.key, alt:"Shows a photo of the rock for rent", style: "height: 350px; object-fit: cover;") %>
        <h1> <%= @rock.rock_type %> </h1>
        <p>Description: <%= @rock.description %></p>
    </div>
    <div class="booking-section">
      <h4>Daily Price : $<%= @rock.daily_price %> </h4>
      <%= link_to "Make a booking", new_rock_booking_path(@rock) %>
    </div>
  </div>
  <div class="reviews-container">
    <div class="reviews-cards">
      <% @rock.reviews.each do |review| %>
      <div>
        <p><%= review.rating %>/5
      </div>
      <div>
        <%= review.content %></p>
        <%# added logic to only see delete review button if you are the owner of the review %>
        <% if current_user && current_user.id == review.booking_id %>
          <%= link_to "Delete", review_path(review), class: "btn btn-warning", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>
    </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
