<%# <h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p> %>

<h1>Write a new review!</h1>

<h2>Rock: <%= @booking.rock.rock_type%></h2>

<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :content, label: "Write your review summary:" %>
  <%= f.input :rating, collection: 1..5, as: :radio_buttons, label: "What's your rating?" %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to Dashboard", dashboard_path %>
